[global]
defaultdb = mysql
datasource = com.alibaba.druid.pool.DruidDataSource
show_sql = true

[mysql]
url = jdbc:mysql://127.0.0.1/life?serverTimezone=GMT%2B8
username = root
password = root
initialSize = 10
minIdle = 10
maxActive = 100
minEvictableIdleTimeMillis = 180000
testOnBorrow = false
testWhileIdle = true
validationQuery = SELECT 1
removeAbandoned = false
logAbandoned = true

[postgresql]
url = jdbc:postgresql://127.0.0.1/pg
username = root
password = root
initialSize = 10
minIdle = 10
maxActive = 100
minEvictableIdleTimeMillis = 180000
testOnBorrow = false
testWhileIdle = true
validationQuery = SELECT 1
removeAbandoned = true
removeAbandonedTimeout = 1800
logAbandoned = true
